@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This microservice provides Authorzation and Authentication Services for the domain <b>@Model.ExternalDNS</b></p>
</div>
